In [29]:
import pandas as pd
df = pd.read_csv('Food.csv')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [30]:
df.groupby('Item')['Y2014','Y2017'].sum()

C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [31]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [32]:
df.groupby('Element')['Y2014','Y2015','Y2016','Y2017'].sum()

C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

,Y2014,Y2015,Y2016,Y2017
Element,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10
Export Quantity,150020.64,157614.47,151920.46,182338.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84
Feed,216927.89,225050.22,228958.65,223705.68
Food,1212332.49,1232361.10,1247022.17,1258888.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04
Import Quantity,274144.48,267018.46,286582.78,294559.09
Losses,153223.00,155439.00,157787.00,160614.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97
Processing,282923.00,287929.00,280631.00,292836.00
Production,1931287.75,1947019.39,1943537.15,2030056.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45
Residuals,30149.00,30045.00,37224.00,35500.00
Seed,21922.92,23976.82,23389.20,24870.14
Stock Variation,58749.83,34910.99,33140.12,54316.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00
Tourist consumption,416.00,349.00,89.00,91.00

In [33]:
df[['Y2018','Element']]
df.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [34]:
df[['Y2018','Element','Area']]
df.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [35]:
df.Area.nunique()

49

In [36]:
fu = df['Area'] == 'Algeria' 
du = df['Element'] =='Import Quantity'
dfa=df.groupby(fu)['Y2018'].sum()
print(dfa)

Area
False    8212899.98
True      341729.98
Name: Y2018, dtype: float64

In [10]:
df1 = df['Area'] == 'Algeria'
dfs = df1.groupby('Algeria')['Y2018'].sum()

KeyError: 'Algeria'

In [26]:
df1 = df[['Area', 'Element','Y2018']]
dfs = df.groupby(['Element','Area','Y2018'])['Y2018'].sum()
dfs

KeyError: "['Y2018'] not in index"

In [37]:
df_ms = df['Y2016'].isnull().sum()
df_tms = df['Area Code'].count()
df_p = df_ms / df_tms
per_ms = df_p * 100
print(df_ms)
print(df_tms)
print(df_p)
print(per_ms)

1535
60943
0.025187470259094565
2.5187470259094566